:root{
   /*Colors*/
   --color-text: #000000;
   --color-primary: #895629; /* Warm brown */
   --color-secondary: #9e7b4f; /* Lighter brown */
   --color-dark: #60503bfe; /* Darker brown */
   --color-bg: #d9c0a1;

   /*Fonts*/
   --font-robot: "Roboto";
}